Header set Cache-Control "max-age=0, no-cache"

Options +FollowSymLinks
Options -Indexes

RewriteEngine on

#RewriteCond %{SERVER_PORT} !443
#RewriteCond %{HTTP_HOST} !^dev\.extrabhp\.com [NC]
#RewriteRule ^(.*) https://extrabhp.com [R=301,L,QSA]

RewriteCond %{HTTP_HOST} !^extrabhp\.com
RewriteCond %{HTTP_HOST} !^dev\.extrabhp\.com
RewriteRule ^(.*) https://extrabhp.com [R=301,L,QSA]

RewriteCond %{REQUEST_URI} ^\/less\/.*|^\/app\/.*|^\/\..*|^\/gulpfile\.js|^\/package\.json|^\/package-lock\.json|^\/config\.ini.*
RewriteRule ^(.+) / [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [L,QSA]

ErrorDocument 404 /
