<div id="quote-banner" class="quote-banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 quote">
				<span>Life's too short to drive a slow car</span>
			</div>
			<!--<div class="col-xs-12 col-sm-6 text-right">-->
				<!--&lt;!&ndash; <form ng-submit="contactUs.submit()">-->
					<!--<div class="form-group">-->
						<!--<input type="text" class="form-control" placeholder="Your Name" ng-model="contactUs.name" />-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<input type="email" class="form-control" placeholder="Your Email" ng-model="contactUs.email" />-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<textarea class="form-control" placeholder="Your Suggestion / Message" ng-model="contactUs.message" required></textarea>-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<input type="submit" class="btn btn-success" value="Send it now" />-->
					<!--</div>-->
					<!--<div id='recaptcha' class="g-recaptcha" data-sitekey="6LeUkUEUAAAAAGpOdYXX_aacKytvhI6Zz__7rxkP" data-size="invisible"></div>-->
				<!--</form> &ndash;&gt;-->
				<!--<a href="https://www.facebook.com/extrabhp/" target="_blank">-->
					<!--<span class="fa-stack fa-lg">-->
						<!--<i class="fa fa-circle fa-stack-2x"></i>-->
						<!--<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>-->
					<!--</span>-->
				<!--</a>-->
			<!--</div>-->
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.banner -->

<div class="follow-banner">
	<div class="container">
		<div class="row">
			 <div class="col-lg-12">
				 Follow Me <a href="https://www.facebook.com/extrabhp/" target="_blank"><i class="fab fa-facebook"></i></a>
			 </div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="copyright text-muted small">Disclaimer: All images are copyright to their respective owners.</p>
				<p class="copyright text-muted small">&copy; Extra BHP <span id="copyright-year"></span></p>
			</div>
		</div>
	</div>
</footer>

<script>
    "use strict";

    $(document).ready(function(){

        // set copyright year
        $('#copyright-year').html(new Date().getFullYear());

        // Highlight the top nav as scrolling occurs
        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 100
        });

        // Closes the Responsive Menu on Menu Item Click
        $('.navbar-collapse ul li a').click(function() {
            $('.navbar-toggle:visible').click();
        });

        // // Offset for Main Navigation
        // $('#mainNav').affix({
        //     offset: {
        //         top: 50
        //     }
        // });

        $('[data-toggle="tooltip"]').tooltip();

        $('.generalModal').click(function () {
            var modalFileName = $(this).data('modal');
            $.get('/assets/modal/' + modalFileName + '.html', function( data ) {
                $("#generalModalContent").html(data);
                $("#generalModal").modal("show");
            });
        });
    });
</script>