<div id="quote-banner" class="quote-banner">
	<div class="container">
		<div class="row quote">
			<div class="col-sm-11 col-10">
				<span>Life's too short to drive a slow car</span>
			</div>
			<div class="col-sm-1 col-2 text-center">
				<a href="https://www.facebook.com/extrabhp/" target="_blank">
					<i class="fab fa-facebook-f"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="copyright small">Disclaimer: All images are copyright to their respective owners.</p>
				<p class="copyright small">&copy; Extra BHP <span id="copyright-year"></span></p>
			</div>
		</div>
	</div>
</footer>

<!-- Feedback Modal -->
<button href="#feedback" role="button" class="btn btn-info feedback-btn" data-toggle="modal">Feedback?</button>
<!-- The Modal -->
<div class="modal" id="feedback">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title">Send Feedback</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<form ng-submit="feedback.submit()">
					<div class="form-group">
						<div class="form-group">
							<label for="feedback-email">Email:</label>
							<input type="email" id="feedback-email" class="form-control" placeholder="(Optional)" ng-model="feedback.email" maxlength="100" />
						</div>
						<div class="form-group">
							<label for="feedback-content">Feedback:</label>
							<textarea id="feedback-content" class="form-control" rows="3" ng-model="feedback.content" minlength="3" placeholder="I'll read every single feedback :)" required></textarea>
						</div>
						<div class="form-group" ng-if="!feedback.showThankYou">
							<div class="col-xs-2" ng-if="!feedback.submitFailure">
								<input type="submit" class="btn btn-success" Value="Send" ng-disabled="feedback.loading" />
							</div>
							<div class="col-xs-3" ng-if="feedback.submitFailure">
								<input type="submit" class="btn btn-success" Value="Try to send again" ng-disabled="feedback.loading" />
							</div>
							<div class="col-xs-9">
								<div class="loader-small" ng-if="feedback.loading"></div>
							</div>
						</div>
						<div ng-if="feedback.showThankYou">
							<p style="color: green;"><i class="fas fa-check"></i> Thanks for the feedback :)</p>
						</div>
						<div ng-if="feedback.submitFailure">
							<p style="color: orangered;"><i class="fas fa-exclamation"></i> something went wrong :(</p>
						</div>
					</div>
				</form>
			</div>

			<!--&lt;!&ndash; Modal footer &ndash;&gt;-->
			<!--<div class="modal-footer">-->
				<!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
			<!--</div>-->

		</div>
	</div>
</div>

<script>
    "use strict";

    $(document).ready(function(){

        // set copyright year
        $('#copyright-year').html(new Date().getFullYear());

        // Highlight the top nav as scrolling occurs
        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 100
        });

        // Closes the Responsive Menu on Menu Item Click
        $('.navbar-collapse ul li a').click(function() {
            $('.navbar-toggle:visible').click();
        });

        // // Offset for Main Navigation
        // $('#mainNav').affix({
        //     offset: {
        //         top: 50
        //     }
        // });

        $('[data-toggle="tooltip"]').tooltip();

        $('.generalModal').click(function () {
            var modalFileName = $(this).data('modal');
            $.get('/assets/modal/' + modalFileName + '.html', function( data ) {
                $("#generalModalContent").html(data);
                $("#generalModal").modal("show");
            });
        });
    });
</script>