<div class="container text-center">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <h3>ExtraBHP is a website for car enthusiasts</h3>
        </div>
    </div>
</div>

<div class="container-fluid" id="contact-faqs">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>FAQ's</h2>
                <p class="lead mb-5">Do you hate electric cars? No, it's the future, and very fast</p>
                <p class="lead mb-5">Would you have electric cars? if it have a good driving experience, then Yes</p>
                <p class="lead mb-5">What is your Dream car? My dream car is Ferrari F12 Berlinetta</p>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <h2>Contact Me</h2>
        <p class="lead mb-5">Sorry no contact form yet! but you're welcome to send me an email to <a href="mailto:thaer.dwaik@gmail.com">thaer.dwaik@gmail.com</a></p>
        <p class="lead mb-5">Follow Me:</p>
        <a href="https://www.facebook.com/extrabhp/" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
</div>