<div id="cars-timeline" class="container" ng-init="init()">

    <div class="row pt-4">
        <div class="col-sm-1 col-2"> </div>
        <div class="col-sm-11 col-10">
            <h6>List of most exotic cars in the history</h6>
        </div>
    </div>

    <div class="pt-4">

        <div ng-if="loading == true" class="loader mt-3 mb-3"></div>

        <div ng-if="loading == false" class="row timeline mt-2" ng-repeat="year in timelineYears track by $index" ng-mouseover="shareFB(car)" id="e-{{$index}}">

            <hr class="d-sm-none" />

            <div class="followMeBar col-sm-1 col-2 text-right" style="border-right: dashed #999;">
                <a name="{{year}}"></a>
                <h6 style="background-color: #FFF;">{{year}}</h5>
            </div>

            <div class="col-sm-11 col-10">
                <div class="row">
                    <div class="col-lg-2 col-sm-6 col-11 mb-4" ng-repeat="car in timelineByYear[year] track by $index" style="padding-right: 0; padding-left: 10px;">
                        <a name="{{car.code}}"></a>
                        <div class="timeline-element">
                            <div class="img">
                                <img class="mb-2" ng-src="{{car.img}}" />
                            </div>
                            <div class="content">
                                <!-- <h5 class="d-sm-none"><time>{{car.productionDate.substr(- 4)}}</time></h5> -->
                                <p>{{car.title}}</p>
                                <!-- <h3>{{car.supTitle}}</h3> -->
                                <!-- <p>{{car.description}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>