<!--<div class="container" id="cars-timeline-v2" ng-init="init()">-->
<div class="container" ng-init="init()">


        <div ng-if="loading == true" class="loader mt-3 mb-3"></div>
        <div ng-if="loading == false" class="row timeline" ng-repeat="year in timelineYears track by $index" ng-mouseover="shareFB(car)" id="e-{{$index}}">

            <hr class="d-sm-none" />

            <div class="followMeBar col-12 text-center">
                <a name="{{year}}"></a>
                <hr><h5>{{year}}</h5><hr>
            </div>

            <div class="col-lg-3 col-sm-6 text-center mb-4" ng-repeat="car in timelineByYear[year] track by $index">
                <a name="{{car.code}}"></a>
                <div class="timeline-element">
                    <div class="img">
                        <img class="mb-2" ng-src="{{car.img}}" style="max-width: 100%;" />
                    </div>
                    <div class="content">
                        <h5 class="d-sm-none"><time>{{car.productionDate.substr(- 4)}}</time></h5>
                        <h5><a href="#" ng-click="scrollTo(car.code, this)">{{car.title}}</a></h5>
                        <h2>{{car.supTitle}}</h2>
                        <p>{{car.description}}</p>
                    </div>
                </div>
            </div>

        </div>

<!--<div class="container" id="cars-timeline" ng-init="init()">-->
    <!--<div ng-if="loading == true" class="loader"></div>-->
    <!--<section ng-if="loading == false" class="timeline">-->
        <!--<ul>-->
            <!--<li ng-repeat="car in timeline track by $index" ng-mouseover="shareFB(car)" id="e-{{$index}}">-->
                <!--<style>#e-{{$index}}::after { content: "{{car.productionDate.substr(- 4)}}" }</style>-->
                <!--<a id="{{car.code}}"></a>-->
                <!--<div class="timeline-element">-->
                    <!--<div class="img">-->
                        <!--<img ng-src="{{car.img}}" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<h4><time>{{car.productionDate.substr(- 4)}}</time></h4>-->
                        <!--<h3><a href="" ng-click="scrollTo(car.code, this)">{{car.title}}</a></h3>-->
                        <!--<h2>{{car.supTitle}}</h2>-->
                        <!--<p>{{car.description}}</p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="fb-share-button" data-href="http://extrabhp.com/cars-timeline#{{car.code}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fextrabhp.com%2Fcars-timeline&amp;src=sdkpreparse"></a></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; more list items here &ndash;&gt;-->
        <!--</ul>-->
    <!--</section>-->
</div>