<div id="homeView">
    <div id="petrolhead-101-shortcut" class="shortcut">
        <div class="content-row">
            <div class="container">
                <div class="col-xs-12 text-center">
                    <h3>Petrolhead <span class="text-primary">101</span></h3>
                    <h6>The first step to stop being a Human and become a Petrolhead!</h6>
                    <br />
                    <a href="/petrolhead-101" target="_parent" class="btn btn-dark">More ></a>
                </div>
            </div>
        </div>
    </div>

    <div id="what-car-shortcut" class="shortcut">
        <div class="content-row">
            <div class="container">
                <div class="col-xs-12 text-center">
                    <h3>Let me help you choose your car ?</h3>
                    <br />
                    <a href="/best-car-for-u" target="_parent" class="btn btn-dark">Looking for a car ></a>
                </div>
            </div>
        </div>
    </div>

    <div id="cars-timeline-shortcut" class="shortcut">
        <div class="content-row">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-7 order-2 mt-4">
                        <h3>Cars Time-line</h3>
                        <h6>Time-line for the best cars in history</h6>
                        <br />
                        <a href="/cars-timeline" target="_parent" class="btn btn-dark">More ></a>
                    </div>
                    <div class="col-sm-6 col-5 order-1 text-center">
                        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Benz-1.jpg/677px-Benz-1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>