<div class="container petrolhead-101">
    <div class="row">

        <div class="col-md-3">
            <div class="nav-side-menu">
                <div class="brand toggle-btn" data-toggle="collapse" data-target="#menu-content"><i class="fas fa-angle-down"></i> Topics</div>

                <div class="brand d-none d-md-block">Topics</div>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content list-group collapse out">

                        <li data-toggle="collapse" data-target="#Engine" class="collapsed list-group-item">
                            <!-- <span>Engine <i class="fas fa-angle-down"></i></span> -->
                            <a href="#Engine" class="list-group-item ng-binding ng-scope" ng-click="scrollTo('Engine', this)">Engine</a>
                            <a href="#Transmission_and_Gearbox" class="list-group-item ng-binding ng-scope" ng-click="scrollTo('Transmission_and_Gearbox', this)">Transmission & Gearbox</a>
                            <a href="#Differential" class="list-group-item ng-binding ng-scope" ng-click="scrollTo('Differential', this)">Differential</a>
                            <a href="#Suspension" class="list-group-item ng-binding ng-scope" ng-click="scrollTo('Suspension', this)">Suspension</a>
                            <a href="#Tyres" class="list-group-item ng-binding ng-scope" ng-click="scrollTo('Tyres', this)">Tyres</a>
                        </li>
                        <!-- <ul class="sub-menu" id="Engine">
                            <a href="" class="sub-item list-group-item" ng-click="scrollTo('Internal_Combustion_Engine', this)">Internal Combustion Engine</a>
                            <a href="" class="sub-item list-group-item" ng-click="scrollTo('Wankel_Engine', this)">Wankel engine</a>
                        </ul> -->

                        <li data-toggle="collapse" data-target="#Dictionary" class="collapsed list-group-item">
                            <span>Dictionary <i class="fas fa-angle-down"></i></span>
                        </li>
                        <ul class="sub-menu" id="Dictionary">
                            <a href="" class="sub-item list-group-item" ng-repeat="item in dictionary" ng-click="scrollTo(item.code, this)">{{item.name}}</a>
                        </ul>

                        <!-- <a href="" class="list-group-item ng-binding ng-scope" ng-click="scrollTo('Differential', this)">Differential</a> -->
                        <!-- <a href="" class="list-group-item ng-binding ng-scope" ng-click="scrollTo('Limited-slip_differential', this)">Limited-slip differential</a> -->
                        <!--<a href="" class="list-group-item" ng-repeat="topic in topics" ng-click="scrollTo(topic.code, this)">{{topic.title}}</a>-->

                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-9 mt-3">
            <h4>Petrolhead <span class="text-primary">101</span></h4>
            <p>The first step to stop being a Human and become a <a href="" ng-click="scrollTo('Petrolhead', this)">Petrolhead!</a></p>

            <!-- 1. Engine -->
            <a class="anchor" id="Engine"></a>
            <div class="row">
                <div class="col-lg-12">
                    <h4 style="background-color: #EEE;" class="p-2">Engine</h4>

                    <!-- 1.1. Internal Combustion Engine -->
                    <div class="col-12">
                        <h5>Internal Combustion Engine</h5>
                        <div class="col-12">
                            <p>An engine which generates motive power by the burning of petrol, oil, or other fuel with air inside the engine, the hot gases produced being used to drive a piston or do other work as they expand.</p>
                        </div>

                        <!-- 1.1.1. Piston Engine -->
                        <div class="col-12">
                            <h6>Piston Engine</h6>
                            <div class="row">
                            <div class="col-lg-2 col-4">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/4StrokeEngine_Ortho_3D_Small.gif" alt="Piston Engine" />
                            </div>
                            <div class="col-lg-10 col-8">
                                <div class="row">
                                    <div class="col-12"><h6>popular shapes:</h6></div>
                                    <div class="col-lg-2 col-4"><p>Inline Shape</p></div>
                                    <div class="col-lg-2 col-4"><p>V Shape</p></div>
                                    <div class="col-lg-2 col-4"><p>W Shape</p></div>
                                    <div class="col-lg-2 col-4"><p>Boxer Shape</p></div>
                                    <div class="col-lg-2 col-4"><p>Flat Shape</p></div>
                                    <div class="col-lg-2 col-4"><p>VR Shape</p></div>
                                    <div class="col-12"><h6>main components:</h6></div>
                                    <div class="col-lg-2 col-4"><p>piston</p></div>
                                    <div class="col-lg-2 col-4"><p>cylinder</p></div>
                                    <div class="col-lg-2 col-4"><p>camshaft</p></div>
                                    <div class="col-lg-2 col-4"><p>valve</p></div>
                                    <div class="col-lg-2 col-4"><p>crankshaft</p></div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- 1.1.2. Wankel Engine (Rotary) -->
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Wankel Engine (Rotary)</h6>
                                </div>
                                <div class="col-md-2 col-4">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Wankel_Cycle_anim_en.gif" alt="Wankel Engine" />
                                </div>
                                <div class="col-md-10 col-8">
                                    <p class="mt-1">The Wankel engine is a type of internal combustion engine using an eccentric rotary design to convert pressure into rotating motion.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 1.2. Electric Engine -->
                    <div class="col-12">
                        <h5>Electric Engine</h5>
                        <div class="col-lg-12">
                            <p>Used in Electric & Hybrid cars</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 2. Transmission & Gearbox -->
            <a class="anchor" id="Transmission_and_Gearbox"></a>
            <div class="row">
                <div class="col-12">
                    <h4 style="background-color: #EEE;" class="p-2">Transmission & Gearbox</h4>

                    <!-- 2.1. Manual Gearbox -->
                    <div class="col-12">
                        <h5>Manual Gearbox</h5>
                        <div class="col-lg-12"><p>It's a driver-operated Gearbox (clutch & gear selector)</p></div>
                    </div>

                    <!-- 2.2. Automatic Transmissions -->
                    <div class="col-12">
                        <h5>Automatic Transmissions</h5>
                        <div class="col-lg-12">
                            <p>Typically this is a transmission that uses a torque converter</p>
                            <h6>Torque Converter</h6>
                            <p class="col-lg-12">A torque converter is a type of fluid coupling which transfers rotating power from a prime mover, like an internal combustion engine, to a rotating driven load.</p>
                        </div>
                    </div>

                    <!-- 2.3. Continuously Variable Transmission (CVT) -->
                    <div class="col-12"><h5>Continuously Variable Transmission (CVT)</h5></div>

                    <!-- 2.4. Semi-Automatic Transmission -->
                    <div class="col-12">
                        <h5>Semi-Automatic Transmission</h5>
                        <div class="col-lg-12"><h6>Sequential Manual Gearbox (SMG)</h6></div>
                        <div class="col-lg-12"><h6>Direct Shift Gearbox (DSG)</h6></div>
                    </div>
                </div>
            </div>

            <!-- 3. Differential -->
            <a class="anchor" id="Differential"></a>
            <div class="row">
                <div class="col-lg-12">
                    <h4 style="background-color: #EEE;" class="p-2">Differential</h4>

                    <iframe style="width: 100%; max-width: 560px; height: 316px;" src="https://www.youtube-nocookie.com/embed/yYAw79386WI?start=173" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="col-12">
                        <h5>Open differential</h5>
                        <p class="col-lg-12">When the differential is unlocked (open differential), it allows each wheel to rotate at different speeds (such as when negotiating a turn), thus avoiding tire scuffing. An open (or unlocked) differential always provides the same torque (rotational force) to each of the two wheels, on that axle.</p>

                        <h5>Limited-slip differential</h5>
                        <p class="col-lg-12">A limited-slip differential is a type of differential that allows its two output shafts to rotate at different speeds but limits the maximum difference between the two shafts.</p>
                    </div>
                </div>
            </div>

            <!-- 4. Suspension -->
            <a class="anchor" id="Suspension"></a>
            <div class="row">
                <div class="col-12">
                    <h4 style="background-color: #EEE;" class="p-2">Handling</h4>
                    <div class="col-12">

                        <!-- 4.1. Shock Absorber -->
                        <h5>Shock Absorber</h5>
                        <p class="col-12">Shock absorber is designed to absorb and damp shock impulses.</p>

                        <!-- 4.2. Springs-->
                        <h5>Springs</h5>

                        <!-- 4.3. Anti Roll Bar -->
                        <h5>Anti Roll Bar</h5>
                    </div>
                </div>
            </div>

            <!-- Tyres -->
            <a class="anchor" id="Tyres"></a>
            <div class="row">
                <div class="col-12">
                    <h4 style="background-color: #EEE;" class="p-2">Tyres</h4>
                    <div class="col-12">
                        <h5>Types</h5>
                        <p class="col-12">
                            All Season tyres<br />
                            Summer tyres<br />
                            Winter tyres
                        </p>
                    </div>
                </div>
            </div>

            <!-- 5. Dictionary -->
            <div class="row">
                <div class="col-12">
                    <h4 style="background-color: #EEE;" class="p-2">Dictionary</h4>
                    <div class="col-12" ng-repeat="dictionaryItem in dictionary track by $index">
                        <a id="{{dictionaryItem.code}}"></a>
                        <h6>{{dictionaryItem.name}}</h6>
                        <p class="col-12">{{dictionaryItem.content}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
